html {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #e8e8e8;
}
.hidden {
  display: none;
}

#data-table-totals {
  width: 60%;
  border: 1px solid #ddd;

  text-align: left;
  background-color: #f2f2f2;
  margin: auto;
}
table .col-centru {
  text-align: center;
}

#data-table-totals th:nth-child(5) {
  min-width: 120px;
}

#data-table-totals tr:hover {
  background-color: #ddd;
}

#data-table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}

.fileUpload {
  background: #373f3f;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  margin: 1.25em auto; /*20px/16px 0*/
  overflow: hidden;
  padding: 0.875em; /*14px/16px*/
  position: relative;
  text-align: center;
  width: 120px;
  cursor: pointer;
}
.fileUpload:hover,
.fileUpload:active,
.fileUpload:focus {
  background: #04aa6d;
  cursor: pointer;
}
.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 148px;
  height: 46px;
  cursor: pointer;
}

input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

#buttons {
  width: 80%;
  margin: auto;
  text-align: center;
}

select,
button {
  padding: 12px 10px;
  margin: 8px 2px;
  display: inline-block;
  cursor: pointer;
  font-size: 16px;
}

.btn {
  background-color: #f3f7fe;
  color: #04aa6d;
  border: none;
  border-radius: 8px;
  width: 180px;
  height: 45px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #04aa6d;
  box-shadow: 0 0 0 5px rgb(4, 170, 109, 0.5);
  color: #fff;
}

#btn-reset,
#tabel-total-reset {
  color: rgb(135, 98, 98);
}

#btn-reset:hover,
#tabel-total-reset:hover {
  background-color: rgb(135, 98, 98);
  box-shadow: 0 0 0 5px rgb(135, 98, 98, 0.5);
  color: #fff;
}

#loading-gif {
  width: 75%;
  margin: auto;
  display: block;
  box-shadow: #373f3f 0px 0px 10px;
}

.large-btn {
  width: 300px;
}
label[for="sort-options"] {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.sorted-motivate {
  background-color: rgba(0, 255, 0, 0.1);
}
.sorted-nemotivate {
  background-color: rgba(255, 0, 0, 0.1);
}
.sorted-total {
  background-color: rgba(24, 23, 23, 0.1);
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 20px;
  font-size: 1em;
  background-color: #04aa6d;
  color: #fff;
  padding: 10px;
  line-height: 1.5;
}
footer a {
  color: #fff;
}

.spinner {
  font-size: 28px;
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner .spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.0555em;
  background-color: transparent;
  -webkit-transform-origin: center -0.2222em;
  -ms-transform-origin: center -0.2222em;
  transform-origin: center -0.2222em;
  animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
  animation-delay: 0.083s;
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
  animation-delay: 0.166s;
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
  animation-delay: 0.249s;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
  animation-delay: 0.332s;
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
  animation-delay: 0.415s;
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
  animation-delay: 0.498s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
  animation-delay: 0.581s;
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
  animation-delay: 0.664s;
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
  animation-delay: 0.747s;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
  animation-delay: 0.83s;
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
  animation-delay: 0.913s;
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
  0% {
    background-color: #69717d;
  }

  100% {
    background-color: transparent;
  }
}

#next-table-button {
  cursor: pointer; /* to show a hand cursor on hover */
  position: fixed; /* to position the button relative to the parent container */
  bottom: 10px; /* adjust as needed */
  right: 30px; /* adjust as needed */
  z-index: 1; /* to ensure the button is on top of other elements */
}

#msg-display-date p {
  font-size: 0, 9em;
  margin-bottom: 10px;
  text-align: center;
  color: rgb(183, 179, 179);
}
